@keyframes floatWithDelay {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.float-delay {
  animation: floatWithDelay 4s ease-in-out infinite;
}


.box {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/wave.png);
  background-size: 1000px 100px;
  pointer-events: none;
  filter: brightness(0) saturate(100%) sepia(1) hue-rotate(180deg)
    saturate(700%) contrast(0.5);
}

/* Reuse single animation for waves moving background */
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* Wave1 animation */
.box .wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 0.9;
  animation-delay: 0s;
  bottom: 0;
}

/* Wave2 animation */
.box .wave2 {
  animation: animate 15s linear infinite;
  z-index: 999;
  opacity: 0.7;
  animation-delay: -7s;
  bottom: 10px;
}

/* Wave3 animation */
.box .wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

/* Wave4 animation */
.box .wave4 {
  animation: animate 15s linear infinite;
  z-index: 997;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 20px;
}
